<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body <% if (locals.session && session.user) { %>
    style="background-color: <%=  session.user.color %>;"
    <% } %>>
    <main>
      <form action="/" method="post">
        <div class="input">
          <label for="name">Ingrese su nombre</label>
          <input type="text" name="name" id="name" value="<%= locals.session && session.user ? session.user.name : null %>"/>
          <% if (locals.errors && errors.name) { %>
            <span class="error">*<%= errors.name.msg %></span>
            <% } %>
        </div>
        <div class="input">
          <label for="email">Ingrese su email</label>
          <input type="email" name="email" id="email" value="<%= locals.session && session.user ? session.user.email : null %>" />
          <% if (locals.errors && errors.email) { %>
            <span class="error">*<%= errors.email.msg %></span>
            <% } %>
        </div>
        <div class="input">
          <label for="color">Elija un color (colores claros)</label>
          <select name="color" id="color">
            <option value="Cyan" <% if (locals.session && session.user && session.user.color === "lightcyan") { %>
              selected
             <% } %>>Cyan</option>
            <option value="Azul" <% if (locals.session && session.user && session.user.color === "lightblue") { %> selected <% } %>>Azul</option>
            <option value="Coral" <% if (locals.session && session.user && session.user.color === "lightcoral") { %>
              selected
             <% } %>>Coral</option>
            <option value="Verde" <% if (locals.session && session.user && session.user.color === "lightgreen") { %>
              selected
             <% } %>>Verde</option>
            <option value="Verde marino" <% if (locals.session && session.user && session.user.color === "lightseagreen") { %>
              selected
             <% } %>>Verde marino</option>
          </select>
        </div>
        <div class="input">
          <label for="age">Ingrese su edad</label>
          <input type="text" name="age" id="age" value="<%= locals.session && session.user ? session.user.age : null%>"/>
          <% if (locals.errors && errors.age) { %>
            <span class="error">*<%= errors.age.msg %></span>
            <% } %>
        </div>
        <div class="input c">
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Recordar</label>
        </div>
        <div class="input">
          <button type="submit">Enviar</button>
        </div>
      </form>
      <% if (locals.session && session.user) { %>
        <form action="/hola" method="get" class="input">
          <button type="submit">Otra vista</button>
        </form>
       <% } %>
      <div class="mensaje">
        <% if (locals.session && session.user) { %>
         <%= `Hola ${session.user.name}, elegiste el color: ${session.user.colorName}, tu email es: ${session.user.email} y tu edad es: ${session.user.age}`%>   
        <% } %>
      </div>
    </main>
  </body>
</html>
